
@import "vars";

// BOOTSTRAP with all components.
// We will check at the end of project which components are useless and remove them
@import 'bootstrap/bootstrap';

body {
    font-family: $font-family;
    //font-size: 1.125em;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    line-height: 1.4;
}

h1 {
    text-align: center;
    color: white;
    //padding: 1.4em 0;
    height: 160px;
    line-height: 160px;
    margin: 2.8em 0 1.4em;
    //break-before: always;
    position: relative;

    @include media-breakpoint-down(sm) {
        body:not(.printpdf) & {
            height: auto;
            line-height: 1.4;

            span {
                padding: 1.4em 1em;
            }
        }
    }

    span {
        display: block;

        .printpdf & {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translatey(-50%);
        }
    }

    &:first-of-type span {
        background-color: $personasColor;
    }

    &:nth-of-type(2) span {
        background-color: $culturaColor;
    }

    &:nth-of-type(3) span {
        background-color: $processColor;
    }
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1em;
    font-weight: $font-bold;
}

header {
    margin: 100px 0 50px 0;

    @include media-breakpoint-down(sm) {
        body:not(.printpdf) & {
            margin: 20px 0 50px 0;
        }
    }
}

.header-title {
    font-size: 3em;
    margin-bottom: 0.7em;
    letter-spacing: 5px;

    @include media-breakpoint-down(sm) {
        body:not(.printpdf) & {
            font-size: 2em;
        }
    }
}

.header-text {
    width: 30%;
    font-size: 0.8em;

    @include media-breakpoint-down(sm) {
        body:not(.printpdf) & {
            width: 50%;
        }
    }
}

.logo {
    width: 20%;

    @include media-breakpoint-down(sm) {
        body:not(.printpdf) & {
            width: 40%;
        }
    }

    img {
        width: 100%;
    }
}

#chart {
    display: block;
    margin: 0 auto;
    visibility: hidden;

    #uno,
    #due,
    #tre {
        fill: #ffffff;
        opacity: 0;
        transition: opacity .3s;
    }
}

.main-chart-wrapper.aos-animate #chart {
    #uno,
    #due,
    #tre {
        opacity: 1;
    }
}

body.printpdf #chart {
    #uno,
    #due,
    #tre {
        opacity: 1;
        transition: none !important;
    }
}

#equipo {
    #uno {
        transition-delay: .3s;
    }
    #due {
        transition-delay: .5s;
    }
    #tre {
        transition-delay: .7s;
    }
}

#saludbenestar {
    #uno {
        transition-delay: .4s;
    }
    #due {
        transition-delay: .6s;
    }
    #tre {
        transition-delay: .8s;
    }
}

#liderzago {
    #uno {
        transition-delay: .5s;
    }
    #due {
        transition-delay: .7s;
    }
    #tre {
        transition-delay: .9s;
    }
}

#foundations {
    #uno {
        transition-delay: .6s;
    }
    #due {
        transition-delay: .8s;
    }
    #tre {
        transition-delay: 1s;
    }
}

#engagement {
    #uno {
        transition-delay: .7s;
    }
    #due {
        transition-delay: .9s;
    }
    #tre {
        transition-delay: 1.1s;
    }
}

#culturacambio {
    #uno {
        transition-delay: .8s;
    }
    #due {
        transition-delay: 1s;
    }
    #tre {
        transition-delay: 1.2s;
    }
}

#capitalhumano {
    #uno {
        transition-delay: .9s;
    }
    #due {
        transition-delay: 1.1s;
    }
    #tre {
        transition-delay: 1.3s;
    }
}

#governancia {
    #uno {
        transition-delay: 1s;
    }
    #due {
        transition-delay: 1.2s;
    }
    #tre {
        transition-delay: 1.4s;
    }
}

#eficiencia {
    #uno {
        transition-delay: 1.1s;
    }
    #due {
        transition-delay: 1.3s;
    }
    #tre {
        transition-delay: 1.3s;
    }
}

.legend-wrapper {
    //background: url(../images/legend.jpg) top left no-repeat;
    background-size: auto 250px;
    margin-top: 75px;
    margin-bottom: 7em;

    svg {
        margin-right: -200px;

        body.lite & {
            height: 100px;
            width: auto;
            margin-right: -90px;
        }
    }

    figcaption,
    svg {
        display: inline-block;
        vertical-align: top;
    }

    p {
        //height: 4em;
        height: 75px;
        margin-bottom: 0;
        padding: 5px 0 0 210px;
        position: relative;

        body:not(.lite) & {
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                border: 1px solid #ccc;
                border-width: 1px 1px 0 1px;
                width: 75px;
                height: 75px;
            }

            &:last-child:before {
                height: 40px;
                border-width: 1px;
            }
        }

        &.legend-strong:before {
            background-color: $topColor;
        }

        &.legend-med:before {
            background-color: $medColor;
        }

        &.legend-low:before {
            background-color: $lowColor;
        }

        @include media-breakpoint-down(sm) {
            padding: 5px 0  0 100px;

            body.lite & {
                font-size: 0.6em;
                height: auto;
            }

            body:not(.printpdf) & span {
                font-size: 0.6em;
            }
        }
    }

    strong {
        display: block;
    }

    span:not(:last-child){
        &:after {
            content: ",";
        }
    }
}

.single-charts {
    margin-bottom: 4em;
}

.answer-group {
    margin-bottom: 2.8em;
    break-before: always;

    &--title {
        margin-bottom: 1.4em;
    }

    body.lite & p {
        padding: 0 15px;
    }

    body.printpdf &--desc,
    body.printpdf & .results-list {
        width: 100%;
        max-width: 100%;
        flex: 100%;
    }


    body.lite & {
        margin-bottom: 5em;
    }

    body.lite &--personas {
        .bar {
            background-color: $personasColor;
        }
        h2 {
            color: $personasColor;
        }
    }

    body.lite &--cultura {
        .bar {
            background-color: $culturaColor;
        }
        h2 {
            color: $culturaColor;;
        }
    }

    body.lite &--procesos {
        .bar {
            background-color: $processColor;
        }
        h2 {
            color: $processColor;
        }
    }

    h2 {
        font-weight: $font-bold;
        color: #5491CD;
    }
}

.results-list {
    list-style: none;
    margin: 0;

    body.lite & {
        margin-top: 30px;
    }

    li {
        display: flex;
        flex-direction: row;
        //height: 2.8em;
        align-items: center;
        margin: 0 0 1.4em;
        padding: 0 10px;

        .result-text,
        > h3 {
            flex-basis: 30%;
        }

        .result-text {
            margin: 0;
            padding-right: 20px;

            body.printpdf & p {
                font-size: 0.9em;
            }

            @include media-breakpoint-down(sm) {
                body:not(.printpdf) & {
                    flex-basis: 38%;
                }
            }

            // em {
            //     font-weight: normal;
            // }
        }

        @include media-breakpoint-down(sm) {
            display: block;
        }
    }
}

.result-value {
    flex-basis: 50%;
    //direction: rtl;
    background-color: #F6F6F6;
    height: 2em;
    overflow: hidden;
    position: relative;

    @include media-breakpoint-down(sm) {
        body:not(.printpdf) & {
            flex-basis: 50%;
        }
    }

    .bar {
        display: block;
        width: 0;
        height: 100%;
        background-color: #F6F6F6;
        transform: translatex(-100%);
        transition: transform .3s ease-out;

        &.green {
            background-color: $topColor;
        }

        &.yellow {
            background-color: $medColor;
        }

        &.red {
            background-color: $lowColor;
        }
    }

    &.aos-animate {
        span {
            transform: translatex(0);

        }
    }

    .grid {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;

        span {
            display: block;
            flex-basis: 33.333%;
            height: 100%;
            border: 2px solid white;
            border-width: 0 2px;
        }
    }
}

footer {
    text-align: center;
}

#pdf-creatiion {
    display: inline-block;
    background-color: #5491CD;
    //width: 300px;
    padding: 0 30px;
    height: 4em;
    line-height: 4em;
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    color: white;
    border-radius: 12px;
    cursor: pointer;

    @include media-breakpoint-down(sm) {
        body:not(.printpdf) & {
            font-size: 1em;
        }
    }

    &:hover {
        opacity: .7;
    }

    .printpdf & {
        display: none;
    }
}

.footer-logo {
    width: 40%;
    margin: 0 auto 4em;

    @include media-breakpoint-down(sm) {
        body:not(.printpdf) & {
            width: 100%;
        }
    }

    img {
        width: 100%;
    }

    a {
        color: black;
        font-size: 1.8em;
        font-weight: bold;
    }
}
